.popup__form {
  width: 430px;
  background-color: #ffffff;
  position:relative;
  top: 0px;
  flex-direction: column;
  border-radius: 10px;
  z-index: 2;
 }


 @media screen and (max-width:768px) {
  .popup__form {
    width: 282px;
    margin-top: 123px;
   }
 }
