.profile__value_type_Description {
  line-height: 22px;
  font-size: 18px;
  margin-top: 16px;
  width: 415px;
  height: 22px;
}
@media screen and (max-width:879px){
  .profile__value_type_description {
    line-height: 17px;
    font-size: 14px;
    margin-top:14px;
    width: 282px;
    height: 14px;
    text-align: center;
  }
}
